<!DOCTYPE html>
<html lang="es">

{% include head.html %}

<body>
  {% include 2023/navbar.html %}

  <main role="main" class="container">

    {{ content }}

    <br>
    <hr />
    <p style="text-align:center">
      {% if page.category == 'talks' %}
        <a href="../charlas">Volver al índice</a>
      {% elsif page.category == 'workshops' %}
        <a href="../talleres">Volver al índice</a>
      {% elsif page.category == 'devrooms' %}
        <a href="../salas">Volver al índice</a>
      {% elsif page.category == 'tables' %}
        <a href="../mesas">Volver al índice</a>
      {% elsif page.category == 'misc' %}
        <a href="../misc">Volver al índice</a>
      {% endif %}
    </p>
  </main>

  {% include footer.html %}
  {% include js.html %}

</body>

</html>
