---
layout: 2020/default
section: proposals
title: Propuestas para esLibre 2020
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Propuestas para es<span class="red">Libre</span> 2020</strong></h1>
  </div>
</div>
<hr class="my-4">

<p style="padding-top: 1em" align="center">
  <cite style="color: black;">
    <strong><span class="red">ATENCIÓN</span></strong>: Debido a la situación por el COVID-19, la celebración de <strong>es<span class="red">Libre</span> 2020</strong> se celebrará de forma <strong>completamente online</strong>. Más información <a
      href="https://eslib.re/2020/reanudacion/">aquí</a>.
  </cite>
</p>

<p>
  Finalmente, en esta edición de <strong>es<span class="red">Libre</span></strong> contaremos con 27 charlas, 6 talleres y 1 presentación. La información detallada de cada una de ellas se puede encontrar en las correspondientes secciones:
  <ul>
    <li><a href="charlas/">Charlas</a></li>
    <li><a href="talleres/">Talleres</a></li>
    <li><a href="otras/">Otras</a></li>
  </ul>
</p>

<p>
  Por otro lado, también contamos con 6 salas propuestas por diferentes comunidades que elaborarán su propio programa:
  <ul id="list">
    {% for devroom in site.pages %}
    {% if devroom.path contains '2020/salas' and devroom.path contains '.md' and devroom.category == 'devrooms' %}
    {% unless devroom.path contains 'canceladas' %}
    <li><a href="/{{ devroom.path | remove_first: ".md" }}">{{ devroom.title}}</a>
      {% endunless %}
      {% endif %}
      {% endfor %}
  </ul>

</p>