---
layout: 2022/default
section: proposals
title: esLibre 2022
---

<div style="padding-top: 1em;" class="media">
  <img style="margin: 0 auto; display: block;" src="https://eslib.re/2022/assets/imgs/banner_2022.png" alt="Logo esLibre" height="200">
</div>
<hr class="my-4">

<p style="text-align: center;">
  <strong><span class="red">(ES)</span></strong> Tienes toda la información general sobre esta edición de <a href="https://eslib.re/2022/" target="_blank"><strong>es<span class="red">Libre</span></strong> en la página principal</a>,<br>pero aquí puedes ver las actividades aceptados este año:<br><br>
  <strong><span class="red">(GL)</span></strong> Tes toda a información xeral sobre esta edición de <a href="https://eslib.re/2022/" target="_blank"><strong>es<span class="red">Libre</span></strong> na páxina principal</a>,<br>pero aquí podes ver as actividades aceptadas este ano:<br><br>
  <strong><span class="red">(EN)</span></strong> You have all the general information about this edition of <a href="https://eslib.re/2022/" target="_blank"><strong>es<span class="red">Libre</span></strong> on the main page</a>,<br>but here you can see the activities accepted this year:
  <ul style="padding-top: 1em; padding-bottom: 2em;">
    <li><a href="charlas/">Charlas / Relatorios / Talks</a></li>
    <li><a href="talleres/">Talleres / Obradoiros / Workshops</a></li>
    <li><a href="salas/">Salas / Devrooms</a></li>
    <li><a href="misc/">Espacio misceláneo / Espazo de misceláneas / Miscellaneous space</a></li>
  </ul>
</p>
