---
layout: 2022/list
section: proposals
permalink: 2022/talleres/
title: Talleres esLibre 2022
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Talleres / Obradoiros / Workshops es<span class="red">Libre</span> 2022</strong></h1>
  </div>
</div>
<hr class="my-4">


<ul id="list">
  {% for workshop in site.pages %}
  {% if workshop.path contains '2022/talleres' and workshop.path contains '.md' and workshop.category == 'workshops' %}
  <li><a href="/{{ workshop.path | remove_first: ".md" }}">{{ workshop.author }} - {{ workshop.title }}</a>
    {% endif %}
    {% endfor %}
</ul>
