---
layout: 2021/list
section: proposals
permalink: 2021/proyectos/
title: Tablón de proyectos esLibre 2021
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Tablón de proyectos para es<span class="red">Libre</span> 2021</strong></h1>
  </div>
</div>
<hr class="my-4">


<ul id="list">
  {% for project in site.pages %}
  {% if project.path contains '2021/proyectos' and project.path contains '.md' and project.category == 'projects' %}
  {% unless project.path contains 'canceladas' %}
  <li><a href="/{{ project.path | remove_first: ".md" }}">{{ project.title }}</a>
    {% endunless %}
    {% endif %}
    {% endfor %}
</ul>
